body {
  font-family: "Merriweather", serif;
  font-weight: lighter;
  background-image: url("../back.jpg");
  color: #0f3057;
}

.main {
  margin-top: 20vh;
  position: relative;
}

.HomePage {
  margin-top: 32vh;
  position: relative;
  font-family: "Ranchers", Arial;
}

.btn {
  margin-top: 10px;
  display: block;
  width: 100%;
}

.score {
  position: absolute;
  right: 15%;
  top: 1%;
}

.points {
  position: absolute;
  right: 16%;
  top: 50%;
  font-size: 1.5rem;
}

.choice-text {
  padding: 10px;
  width: 80%;
  border: 0.1rem solid;
  cursor: pointer;  
}

.choice-text:hover {
  border: 5px solid #0f3057;
}

.names {
  color: teal;
  border: 1px solid gray;
  font-weight: bolder;
  background-color: lightgrey;
}

@media screen and (max-width: 768px) {
  .choice-text:hover {
    border: 0.1rem solid;
  }
}
