body {
  font-family: "Merriweather", serif;
  font-weight: lighter;
}

.main {
  margin-top: 20vh;
  position: relative;
}

.HomePage {
  margin-top: 40vh;
  position: relative;
  font-family: "Ranchers", Arial;
}

.btn {
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color: #41aea9;
}

.score {
  position: absolute;
  right: 15%;
  top: 1%;
}

.points {
  position: absolute;
  right: 16%;
  top: 50%;
  font-size: 1.5rem;
}

.choice-text {
  padding: 10px;
  width: 80%;
  border: 0.1rem solid;
}

.choice-text:hover {
  border: 5px solid #373a40;
}

.error {
  border: 2px solid red;
}

.names {
  color: teal;
  border: 1px solid gray;
  font-weight: bolder;
  background-color: lightgrey;
}

.correct {
  background-color: lightgreen;
}

@media screen and (max-width: 768px) {
  .choice-text:hover {
    border: none;
  }
}
