.main {
  margin-top: 20vh;
  position: relative;
}

.btn {
  margin-top: 10px;
  display: block;
}

.btn {
  margin-left: 300px;
  width: 500px;
  margin-top: 20px;
}

.score {
  position: absolute;
  right: 15%;
  top: 1%;
}

.points {
  position: absolute;
  right: 16%;
  top: 50%;
}

/* .container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid;
  background-color: white;
} */

.choice-text {
  padding: 10px;
  width: 80%;
  border: 0.1rem solid;
}

/* .rightanswer {
  display: none;
} */

.error {
  border: 2px solid red;
}
