body {
  font-family: "Ranchers", cursive;
}

.main {
  margin-top: 20vh;
  position: relative;
}

.HomePage {
  margin-top: 40vh;
  position: relative;
}

.btn {
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color: #41aea9;
}

.score {
  position: absolute;
  right: 15%;
  top: 1%;
}

.points {
  position: absolute;
  right: 16%;
  top: 50%;
}

.choice-text {
  padding: 10px;
  width: 80%;
  border: 0.1rem solid;
}

.error {
  border: 2px solid red;
}

/* .rightanswer {
  display: none;
} */

.names {
  color: teal;
  border: 1px solid gray;
  font-weight: bolder;
  background-color: lightgrey;
}
